# --------------------
# Node.js / Expo / React Native
# --------------------
node_modules/
npm-debug.log
.expo/
dist/
build/
*.expo.js
*.expo.json
*.expo-shared/

# --------------------
# Unity
# --------------------
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

# Large asset folders
unity-plane/Assets/



# --------------------
# Terraform
# --------------------
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
*.pem  

# --------------------
# OS / IDE
# --------------------
.DS_Store
.vscode/
!plane-controller-app/assets/
unity-plane/Recordings/